.App {
  text-align: center;
}

.table-container {
  margin: 10px
}

.table {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}

.note-cell {
  width: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.absences-container {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.filter-container {
  display: flex;
  flex-direction: row;
}

.filter-title {
  margin: 10px;
}

.filter-dropdown {
  margin: 10px;
  margin-left: 40px;
}

.datepicker-container {
  display: flex;
  width: 325px;
  justify-items: center;
  align-items: center;
  margin-left: 50px;
}

.datepicker {
  justify-content: center;
}

.datepicker-button {
  justify-content: center;
  margin-left: 5px;
  width: 300px;
}

.spinner-container {
  margin: 100px
}

.empty-state {
  padding: 100px;
}